.event_selected, .event_selected:hover{
    background-color: forestgreen;
    cursor: auto;
}

.is-a-error{
    margin: 10px 0px;
    padding:12px;  
    color: #D8000C;
    background-color: #FFBABA;

}

.event-join-box{
    margin: 0px 0px 20px 0px;
}
.event-mod-box{
    width: 100%;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.event-mod-output{
    float: left;
    width: 100%;
    height: 100px;
    overflow: auto;
    border: 1px solid #d1d1d1;
	margin-bottom: 20px;
}

.event-mod-output ul{
    margin: 10px 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    list-style: disc;
}

.event-mod-output li{
    display: list-item;
    margin: 0;
    padding: 4px 10px;
}

.event-mod-output li span{
    font-weight: bold
}
.event-mod-text{
    margin: 10px 0;
    float: right;
    width: 100%;
}

.mod-fieldset{
    margin: 0 0 5px 0;
    padding: 0;
    border: 0;
}
.mod-fieldset textarea{
    height: 133px;
    float: left;
    clear: both;
    width: 94%;
    margin: 0 0 2px 0;
    font-size: 14px
}

.text_admin_menu{
	display: none;
}

.sac-chat-message{
	cursor: pointer;
}

.custom_tabs{
	margin: 0px !important;
    padding: 0px;
}		

.custom_tabs li{
	float: left;
    list-style: none !important;
    width: 100px;
    background-color: #eee;
    border: 1px solid #ccc;
	border-bottom: none;
    text-align: center;
    margin: 0px 0px 0px 0px !important;
	height: 30px;
    line-height: 30px;
	cursor: pointer;
}

.custom_tabs .active{
	border: 1px solid #000 !important;
	border-bottom: none !important;
	font-weight: bold;
}